<!DOCTYPE html>
<html>
<head>
	<title>21</title>
	<script src="view/template/jack.js"></script>
</head>
<body onload="game('end')">
	<div id="hidden_v" style="display: none;"></div>
	<center>
	<table>
		<td width="100">
			<button id="500" onclick="betmore(500)"><img width="50" height="50" src="{{ chip }}500.png"></button>
		
		<br/>
		
			<button id="100" onclick="betmore(100)"><img width="50" height="50" src="{{ chip }}100.png"></button>
		<br />		
			<button id="50" onclick="betmore(50)"><img width="50" height="50" src="{{ chip }}50.png"></button>
		<br/>
			<button id="10" onclick="betmore(10)"><img width="50" height="50" src="{{ chip }}10.png"></button>
		<br />
			<button id="5" onclick="betmore(5)"><img width="50" height="50" src="{{ chip }}5.png"></button>
		<br />
			<button id="1" onclick="betmore(1)"><img  width="50" height="50" src="{{ chip }}1.png"></button>
		</td>
		<td width="50"></td>
<td style="align-content: center;">
	<center>
	<div name="dealer" id="dealer"></div>
	<br/>
	<p id="dhand"></p>
	<p id="stat">(-_-)</p>
	<p id="phand"></p>
	<br />
	<button id="de" onclick="deal()">deal</button><button id="hi" onclick="hit()">Hit</button><button id="st" onclick="stand()">Stand</button>
	<br/>
	<div name="player" id="player"></div>
</center>
</td>
<td>
	<p>Your Fund:</p>
	<p id="fund">{{ fund }}</p>
	<br/>
	<p>Your Bet:</p>
	<p id="bet">0</p>
	<br/>


</td>
</table>
</center>
</body>
</html>